<div>
  <h4>Share this post</h4>
  <a class="btn btn-link btn-social-icon btn-twitter" href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&url={{ site.production_url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
  <a class="btn btn-link btn-social-icon btn-facebook" href="https://facebook.com/sharer.php?u={{ site.production_url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
  <a class="btn btn-link btn-social-icon btn-google-plus" href="https://plus.google.com/share?url={{ site.production_url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
  <a class="btn btn-link btn-social-icon btn-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title | cgi_escape }}" rel="nofollow" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
</div>
