<div>
  <h4>Share this post</h4>
  <a class="btn btn-info" href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&url={{ site.production_url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
  <a class="btn btn-primary" href="https://facebook.com/sharer.php?u={{ site.production_url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
  <a class="btn btn-warning" href="https://plus.google.com/share?url={{ site.production_url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
  <a class="btn btn-primary" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title | cgi_escape }}" rel="nofollow" target="_blank" title="Share on LinkedIn">LinkedIn</a>
</div>
